<section class="log-in">
    <div class="container">
        <div class="form">
            <div class="container">
                <div class="heading">
                    <div class="logo">
                        <h4>LOGO</h4>
                    </div>
                    <div class="welcome">
                        <div class="title">
                            <h4>Welcome Back</h4>
                        </div>
                        <div class="display">
                            <p>Log in to your account</p>
                        </div>
                    </div>
                </div>
                <!-- Email input -->
              <div class="form-outline input-group my-5">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-user icon"></i></span>
                <input type="email" id="form2Example1" class="form-control" [(ngModel)]="email" placeholder="Username" aria-describedby="basic-addon1"/>
              </div>
            
              <!-- Password input -->
              <div class="form-outline input-group my-5">
                <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock icon"></i></span>
                
                <input type="password" id="form2Example2" class="form-control" [(ngModel)]="password" placeholder="Password" aria-describedby="basic-addon1"/>
              </div>
            
              
            
              <!-- Submit button -->
              <div class="submit">
                <button type="button" class="btn btn-primary btn-large btn-block mb-4 bg-black" (click)="login()">Sign in</button>
              </div>
              
              <p>Don't have an account? <a href="#!" class="text-black" routerLink="/register">Sign up</a></p>
              
            </div>
            
        </div>
    </div>
</section>