<div class="cartItem row align-items-start" *ngIf="product">
    <div class="col-3 mb-2">
      <img class="w-100" [src]="product.image" [alt]="product.title">
    </div>
    <div class="col-5 mb-2">
      <h6 class="">Dark Art 1</h6>
      <p class="pl-1 mb-0">20 x 24</p>
      <p class="pl-1 mb-0">{{product.title}}</p>
    </div>
    <div class="col-2">
      <p class="cartItemQuantity p-1 text-center">
        {{product.quantity}} 
        <input type="number" name="" min="1" id="" [(ngModel)]="value"> 
        <button class="btn btn-primary" (click)="editCart(i)">Edit</button> 
        <button class="btn btn-danger" (click)="deleteItem(i)">Delete</button> 
      </p>
    </div>
    <div class="col-2">
      <p id="cartItem1Price">R {{product.price}}</p>
    </div>
  </div>
  <hr>