.log-in {
    padding-top: 5%;
}
form .container {
    padding: 10%;
}
form {
    background: white;
    max-width: 600px;
    padding: 5px auto;
    margin: auto;
    border-radius: 20px;
}
.heading {
    display: flex;
    justify-content: space-between;
}

.submit button{
    width: 100% !important;
}

