.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 4%;
    img {
        cursor: pointer;
    }
}
.section-display {
    background: white;
    margin-top: 4%;
}
.intro{
    display: flex;
    justify-content: space-between;
    
    .container {
        margin-top: 4% !important;
    }
}
