<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Form -->
            <form>
              <div class="container">
                  <div class="heading">
                      <div class="welcome">
                          <div class="title">
                              <h4 class="text-center">New Item</h4>
                          </div>
                          <div class="display">
                              <p>We thank you for making the store fresh</p>
                          </div>
                      </div>
                  </div>
                  <!-- text input -->
                <div class="form-outline input-group my-5">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-user icon"></i></span>
                  <input type="text" id="form2Example1" class="form-control" placeholder="Product Name" aria-describedby="basic-addon1"/>
                </div>
                <!-- text input -->
                <div class="form-outline input-group my-5">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock icon"></i></span>
                  <input type="text" id="form2Example2" class="form-control" placeholder="Image Link" aria-describedby="basic-addon1"/>
                </div>
                <div class="form-outline input-group my-5">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-user icon"></i></span>
                    <input type="text" id="form2Example1" class="form-control" placeholder="Price" aria-describedby="basic-addon1"/>
                  </div>
                  <!-- text input -->
                  <div class="form-outline input-group my-5">
                    <span class="input-group-text" id="basic-addon1"><i class="fa fa-lock icon"></i></span>
                    <input type="text" id="form2Example2" class="form-control" placeholder="Category" aria-describedby="basic-addon1"/>
                  </div>
                  
              
                
              
               
                
              </div>
              
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>